<div id="page">
  <header>
    <div class="top">
      <div class="fixed-space">
        <div class="logo-interfax"><img alt="Международная информационная группа Интерфакс" src="/assets/casifax.png" /></div>
        <div class="clearfix"></div>
      </div>
      <div class="fixed-space">
        <div class="logo-edu"><a href='/'><img alt="Новостной центр" src="/assets/newscenter.png" /></a></div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="fixed-space">
      <nav class="main-menu">
        <ul>
          <li><a class="" href="/articles">Articles</a></li>
          <li><a class="" href="/faq">FAQ</a></li>
          <li><a class="" href="/about">About us</a></li>
          <li><a class="" href="/contacts">Contacts</a></li>
        </ul>
      </nav>

      <div class="search">
        <div class="search-form">
          <form method='get' action='/articles'>
            <a onclick="$(this).next().trigger('focus');"><i class="fa fa-search"></i></a>
            <input type="text" placeholder="Search" name='search' />
          </form>
        </div>
      </div>
    </div>

  </header>

<div class="content">
<div class="search-page result">
<div class="fixed-space">

  <div class="left-block">
    <div class="search-result">

        <div class="events block">
          <div class="list">
            <br/>
            <br/>
            <p style="color:#253136;">
              @godfuzz3r - the main card diller
            </p>
          </div>
        </div><!--.events.block-->
    </div><!--.search.result-->
  </div>

<div class="sidebar">
</div><!--.sidebar-->

</div>
</div><!--.search-page-->

</div>

<footer id="footer">
    <div class="bottom">
      <div class="interfax">© 2021 Casifax.</div>
    </div> <!-- end of .bottom -->
</footer>
</div>
