{% extends "base.html" %}

{% block title %}This is main page{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
      <p>YAY WELCOME ADMIN</p>
      <img src="static/flag.gif" />
      <p>SPR{C0NGRAZ_Y0U_SIGNED_Y0UR_J4CKP0T}</p>
    </div>
{% endblock %}
