{% extends "base.html" %}

{% block title %}This is a profile of {{user}} {% endblock %}

{% block content %}
  {{super()}}
  <div class="container">
    {% if form %}
        <p> <h1>Hello, wanna place bet? </h1> </p>
        <br>
        <p>
        {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}
        </p>
    {% else %}
        <h1> The profile of {{user_email}} </h1>
    {% endif %}
    <br>
    <p>
        {% if current_user.email == user_email %}
            <div class="btn-group" role="group">
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">list of notes</div>
            {% if list_of_ideas.count() %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> Description</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for idea in list_of_ideas %}
                          <tr>
                            <td>{{loop.index}}</td>
                            <td>
                              {{idea.idea_name}}
                            </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            {% else %}
              <p>No ideas yet</p>
            {% endif %}
        </div>
    </p>
  </div>
{% endblock %}
