{% extends "base.html" %}

{% block title %}This is main page{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
      <p>Welcome to our bookmaker company. In your profile you can leave a request to place a bet</p>
      <img src="static/47ybet.png" style="height:200%;" />
    </div>
{% endblock %}
